<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Best GPUs for mining
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link rel="stylesheet" href="/webfont/cryptocoins.css">

    <!-- CSS defining icon/coin colors (optional) -->
    <link rel="stylesheet" href="/webfont/cryptocoins-colors.css">
    <style>
        @@font-face {
            font-family: "cryptocoins";
            src: url('@Url.Content("~/webfont/cryptocoins.woff2")') format('woff2'),
                 url('@Url.Content("~/webfont/cryptocoins.woff")') format('woff'),
                 url('@Url.Content("~/webfont/cryptocoins.ttf")') format('truetype');
        }
    </style>
    <style>


        /* Side notes for calling out things
        -------------------------------------------------- */

        /* Base styles (regardless of theme) */
        .bs-callout {
            margin: 20px 0;
            padding: 15px 30px 15px 15px;
            border-left: 5px solid #eee;
        }

        .bs-callout h4 {
            margin-top: 0;
        }

        .bs-callout p:last-child {
            margin-bottom: 0;
        }

        .bs-callout code,
        .bs-callout .highlight {
            background-color: #fff;
        }

        /* Themes for different contexts */
        .bs-callout-danger {
            background-color: #fcf2f2;
            border-color: #dFb5b4;
        }

        .bs-callout-warning {
            background-color: #fefbed;
            border-color: #f1e7bc;
        }

        .bs-callout-info {
            background-color: #f0f7fd;
            border-color: #d0e3f0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Top Gpu For Mining", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Brands", "Index", "Brand")</li>
					<li>@Html.ActionLink("Gpus", "Index", "Gpu")</li>
					<li>@Html.ActionLink("Models", "Index", "Model")</li>
					<li>@Html.ActionLink("Algorithms", "Index", "Algorithm")</li>
					<li>@Html.ActionLink("Hashrates", "Index", "Hashrate")</li>
					<li>@Html.ActionLink("Price Sources", "Index", "PriceSource")</li>
					<li>@Html.ActionLink("GPU Price Sources", "Index", "GPUPriceSource")</li>
					@*<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("About", "About", "Home")</li>
		<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
				</ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TopGpuMining.com</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.blockui.min.js" type="text/javascript"></script>

    <script src="~/Scripts/validations/jquery.validate.min.js"></script>
    <script src="~/Scripts/validations/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validations/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/validations/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="~/Scripts/validations/jquery.validation.custom.method.js"></script>


<script src="~/Scripts/toastr.min.js"></script>

    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115499049-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115499049-1');


        function SendBuyNowClickAnalytics() {
            gtag('send', {
                hitType: 'event',
                eventCategory: 'ClickBuyNow',
                eventAction: '',
                eventLabel: ''
            });
        }
    </script>
</body>
</html>
