@using GpuMiningInsights.Web.Models
@using GpuMiningInsights.Core;
@using Newtonsoft.Json
@model ClientGpuListData
@{
    ViewBag.Title = "Best GPUs for mining";
    string lastUpdate = Model.Date;
    
}

<div class="jumbotron">
    <h1>Top GPU Mining</h1>
    <br />
    <p class="lead">
        Top GPU Mining provides you with the right information for getting the best GPUs that are most profitable for mining, by considering various parameters.
    </p>
    <p>
        Last Update : @lastUpdate &nbsp;
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <button type="submit" class="btn btn-primary btn-lg"> Refresh</button>
        }
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <div style="display:inline-block;width:100%;scroll-x:auto">
            <table class="table table-bordered table-striped">
                <thead>
                    @*

                        System.Console.WriteLine($"GPU {gpuName} ,
                        ProfitPerYearMinusCostUsd = {item.ProfitPerYearMinusCostUsd},
                        Revenue ($/Day) = {item.RevenuePerDayUsd},
                        Profit ($/Day) = {item.ProfitPerDayUsd}  ,
                        HashRate = {item.Hashrate},
                        HashCost = {hashPrice},
                        FROM = {hashPriceSource } @ Price : {gpuPriceFromSource }");

                ($"GPU {gpuName} HashRate = {item.Hashrate}, HashCost = {hashPrice}, FROM = {hashPriceSource } @ Price : {gpuPriceFromSource }");*@


                    <tr>
                        <th>GPU</th>
                        <th>Revenue ($/Day)</th>
                        <th>Profit ($/Day)</th>
                        <th>Profit(Minus GPU Cost Usd)/Year </th>
                        <th>Hashrate</th>
                        <th>HashCost (Price Source)</th>
                        <th>Price</th>
                        <th>Price USD</th>
                        <th>Revenue</th>
                        <th>ROI</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Gpus.Count; i++)
                    {
                        GPU gpu = Model.Gpus[i];
                        int index = i;
                        string hashPrice = gpu.LowestHashPrice.HashPrice.ToString();
                        string hashPriceSource = gpu.LowestHashPrice.Source;
                        double? gpuPriceFromSource = gpu.LowestPriceSource?.LowestPriceSourceItem?.Price;
                        string currency = gpu.LowestPriceSource.LowestPriceSourceItem.PriceCurrency;
                        double lowestGpuPriceUsd = gpu.LowestPriceSource.LowestPriceSourceItem.PriceUSD;
                        double annualRevenue = gpu.ProfitPerDayUsd * 365;
                        double roi = ((annualRevenue - gpu.PriceSources.FirstOrDefault(s => s.Name == hashPriceSource).PriceSourceItems.Min(a => a.Price)) / gpu.PriceSources.FirstOrDefault(s => s.Name == hashPriceSource).PriceSourceItems.Min(a => a.Price));
                        roi = Math.Round(roi * 100, 2);
                        string roistyle = roi >= 0 ? "" : "style=\"color:#de6c6c\"";
                        if (roi > 30)
                        {
                            roistyle = "style=\"color:#0fc304\"";
                        }
                        <tr>
                            <td>@gpu.Name</td>
                            <td>@gpu.RevenuePerDayUsd</td>
                            <td>@gpu.ProfitPerDayUsd</td>
                            <td>@gpu.ProfitPerYearMinusCostUsd</td>
                            <td>@gpu.Hashrate</td>
                            <td>@hashPrice (@hashPriceSource)</td>
                            <td>@gpuPriceFromSource @currency </td>
                            <td>@lowestGpuPriceUsd $</td>
                            <td>@annualRevenue </td>
                            <td @Html.Raw(roistyle)>@(roi) %</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="onBuyNowClick(@index)">Buy Now!</button>
                            </td>
                        </tr>
                    }
                </tbody>



            </table>


        </div>
        <div class="row">
            <div class="col-md-offset-6 col-md-6" id="price-details-div">

            </div>
        </div>
        <div class="hidden">
            @for (int i = 0; i < Model.Gpus.Count; i++)
            {
                GPU gpu = Model.Gpus[i];
                <h3></h3>
                <table class="table table-bordered table-striped" id="gpuprices-@i">
                    <caption>
                        Buying options for @gpu.Name
                    </caption>
                    <thead>
                        <tr>
                            <th>GPU</th>
                            <th>Price</th>
                            <th>Price (USD)</th>
                            <th>From</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var priceSource in gpu.PriceSources)
                        {
                            foreach (var priceSourceItem in priceSource.PriceSourceItems)
                            {
                                string name = priceSourceItem.Name;
                                //name = string.IsNullOrWhiteSpace(name) ? : name;
                                <tr>
                                    <td>
                                        <a href="@priceSourceItem.URL">
                                            @if (!string.IsNullOrWhiteSpace(priceSourceItem.ImageUrl))
                                            {
                                                <img src="@priceSourceItem.ImageUrl" class="img-responsive" />
                                            }
                                            @name
                                        </a>
                                    </td>
                                    <td>@priceSourceItem.Price @priceSourceItem.PriceCurrency</td>
                                    <td>@priceSourceItem.PriceUSD $ </td>
                                    <td>@priceSource.Name </td>
                                    <td>
                                        <a href="@priceSourceItem.URL" class="btn btn-primary">Buy From @priceSource.Name!</a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            }
        </div>

    </div>

</div>
<p>
    by <a href="https://stackoverflow.com/users/690785/saad-alothman">Saad Alothman</a> - <a href="https://twitter.com/saad_o77">@@saad_o77</a>
    <br />
    Email: me@saadalothman.com
    
    <br/>

    Hash rates info from : http://www.whattomine.com
</p>

@section scripts
{
    <script>
        function onBuyNowClick(i) {
            $('#price-details-div').html($('#gpuprices-' + i).clone());
        }
    </script>

}
