@using GpuMiningInsights.Web.Models
@using GpuMiningInsights.Core;
@using Newtonsoft.Json
@using System.Configuration
@using CreaDev.Framework.Core.Extensions
@using GpuMiningInsights.Application.Services
@model GpusInsightsReport
@*

    chekc out the website, not the article also how it displays GPUS:
        https://1stminingrig.com/are-the-rx570-and-rx580-profitable-mining-performance-review/

*@
@{
    ViewBag.Title = "Best GPUs for mining";

    string lastUpdate = Model?.Date.ToLocalTime().ToString("yyyy-MM-dd 'T'HH:mm 'Z'");

    var topcoins = CoinService.Instance.Search(new SearchCriteria<Coin>(8, 1, coins => coins.OrderByDescending(c => c.ExchangeRateUsd), c => c.ExchangeRateUsd != null)
    {
    }).Result;
}
@Html.Partial("~/Views/Coin/_TopCoinsPartial.cshtml", topcoins)
<br />
<br />
<br />
@if (Model?.GpuInsightReports == null)
{
    <div class="bs-callout bs-callout-info">
        <h4>Report is being generated!</h4>
        <p> Report is being generated,Please check back later</p>
    </div>
}
else
{
    <h3>Recommended GPUs <small style="    font-size: 0.5em;">Based on ROI! (Last update @lastUpdate)</small></h3>


    @Html.Partial("~/Views/GpusInsightsReport/_List.cshtml", Model)

    <div class="row">
        <div class="col-md-offset-6 col-md-6" id="price-details-div">

        </div>
    </div>
    <div class="hidden">
        @for (int i = 0; i < Model.GpuInsightReports.Count; i++)
        {
            GpuInsightReport gpuInsightReport = Model.GpuInsightReports[i];
            Gpu gpu = gpuInsightReport.Gpu;
            <h3></h3>
            <table class="table table-bordered table-striped" id="gpuprices-@gpuInsightReport.Id">
                <caption>
                    Buying options for @gpu.Name
                </caption>
                <thead>
                    <tr>
                        <th>GPU</th>
                        <th>Price (USD)</th>
                        <th>From</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var priceSourceItem in gpuInsightReport.PriceSourceItems.OrderBy(item => item.PriceUSD))
                    {
                        string name = priceSourceItem.ItemName;
                        name = string.IsNullOrWhiteSpace(name) ? gpu.Name : name;
                        <tr>
                            <td>
                                <a href="@priceSourceItem.ItemURL">
                                    @if (!string.IsNullOrWhiteSpace(priceSourceItem.ImageUrl))
                                    {
                                        <img src="@priceSourceItem.ImageUrl" class="img-responsive" />
                                    }
                                    @name
                                </a>
                            </td>
                            <td>@priceSourceItem.PriceUSD $ </td>
                            <td>@priceSourceItem.PriceSource.Name </td>
                            <td>
                                <a href="@priceSourceItem.ItemURL" onclick="SendBuyNowClickAnalytics()" class="btn btn-primary">Buy From @priceSourceItem.PriceSource.PriceSourceType.GetDisplayName()!</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>

}
<p><small>* Note: these links gives us comission , so please if you like or going to buy the GPU, please click the link provided</small></p>
<div class="jumbotron">
    <h1>Top GPU Mining</h1>
    <br />
    <p class="lead">
        The main Purpose of this site is to help fellow miners to decide which GPU is best for mining. it will aid you towards deciding which GPU to buy and will assist you in finding the best deals.
        Top GPU Mining provides you with the right information for getting the best GPUs that are most profitable for mining, by considering various parameters.
    </p>
    <p>
        Last Update : @lastUpdate &nbsp;

    </p>
</div>
<p>
    @{
        string modelsCsv="";
        foreach (var model in Model?.GpuInsightReports?.Select(s => s.Gpu.Model).Distinct())
        {
            modelsCsv += $"{model.Name.English},";
        }
        if (modelsCsv.LastIndexOf(",") > -1)
        {
            modelsCsv= modelsCsv.Remove(modelsCsv.LastIndexOf(","));
        }
    }
    Over @((Model?.GpuInsightReports?.Select(s => s.Gpu)?.Count()-1)?.ToString()  ??"") GPUs
    All GPU Models included are (@modelsCsv)
</p>
<p>
    by <a href="https://stackoverflow.com/users/690785/saad-alothman">Saad Alothman</a> - <a href="https://twitter.com/saad_o77">@@saad_o77</a>
    <br />
    Email: me@saadalothman.com

    <br />

    Hash rates info from : http://www.whattomine.com
    <br />
    Other stuff used:
    <br />
    https://www.cryptocompare.com/
    <br />
    https://github.com/AllienWorks/cryptocoins
    <br />
    http://www.apilayer.net/
    <br />

    Version Number: @ConfigurationManager.AppSettings["VersionNumber"]
</p>

@section scripts
{
    <script>
        function onBuyNowClick(i) {
            $('#price-details-div').html($('#gpuprices-' + i).clone());
            $('html, body').animate({
                scrollTop: $("#price-details-div").offset().top - 200
            },
                1000);

        }

        function onBuyNowClickAnalytics(gpuId, gpuInsightReportId, priceSourceName) {
            var value = { gpuId, gpuInsightReportId, priceSourceName };
            var valueStr = JSON.stringify(value);
            ga('send',
                {
                    hitType: 'event',
                    eventCategory: 'ClickBuyNow',
                    eventAction: 'click',
                    eventLabel: valueStr,
                    value
                });
        }

        $(function () {

            $('.buying-options-popover[data-toggle="popover"]').each(function () {
                var rptId = $(this).data('report-id');
                var rowIdSelector = '#item-row-' + rptId;
                var content = $('#popover-content-' + rptId).html();
                var options = {
                    content: content,
                    trigger: 'manual',
                    html: true,
                    viewport: rowIdSelector
                }
                $(this).popover(options).on("mouseenter",
                    function () {
                        var _this = this;
                        $(this).popover("show");
                        $(".popover").on("mouseleave",
                            function () {
                                $(_this).popover('hide');
                            });
                    }).on("mouseleave",
                    function () {
                        var _this = this;
                        setTimeout(function () {
                            if (!$(".popover:hover").length) {
                                $(_this).popover("hide");
                            }
                        },
                            300);
                    });;

            });
        });
    </script>


}
