
@model ForgetPasswordViewModel


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form" }))
{
    @Html.AntiForgeryToken()
    <h3>
        @Common.ForgetPassword
    </h3>
    <p>
        @Common.ForgetPasswordText
    </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>

            @Html.TextBoxFor(a => a.Email, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = Common.Email })
            @Html.ValidationMessageFor(a => a.Email, null, new { @class = "help-block" })

        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn red btn-outline">
            @Common.Back
        </button>
        <button type="submit" class="btn green pull-right">
            @Common.Submit
        </button>
    </div>
}

