@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <h3>
        @Common.ResetPassword
    </h3>
    
    @Html.HiddenFor(a=> a.userId)

    @Html.HiddenFor(a=> a.Code)

    @Html.BootstrapPasswordFor(a=> a.Password)

    @Html.BootstrapPasswordFor(a => a.ConfirmPassword)


    <div class="form-actions">
        
        <button type="submit" class="btn green pull-right">
            @Common.ResetPassword
        </button>
    </div>
}

