



@using CreaDev.Framework.Core.Extensions
@using CreaDev.Framework.Core.Resources
@using CreaDev.Framework.Web.Mvc.Helpers
@using GpuMiningInsights.Application.Services
@using GpuMiningInsights.Domain.Models
@using GpuMiningInsights.Web.Models.Search
@model CreaDev.Framework.Core.Models.SearchResult<GpuMiningInsights.Domain.Models.Gpu>



@{
    ViewBag.Name = "Index";
    string itemName = "gpu";
    string itemDisplayName = "Gpu";
    string itemNameUpperFirstLetter = itemName.ToProperCase();
    string controllerName = itemNameUpperFirstLetter;
    string panelSelector = $"#{itemName}-list-panel";
    string listId = $"{itemName}-list";
    string listSelector = $"#{listId}";

    //Add Modal
    string addItemModalId = $"add-{itemName}-modal";
    string addItemDivId = $"add-{itemName}-div";
    string addItemAlert = $"add-{itemName}-alert";
    string addItemFormId = $"add-{itemName}-form";
//Add Bulk
    string addItemBulkModalId = $"add-{itemName}-bulk-modal";
    string addItemBulkDivId = $"add-{itemName}-bulk-div";
    string addItemBulkAlert = $"add-{itemName}-bulk-alert";
    string addItemBulkFormId = $"add-{itemName}-bulk-form";

    //Edit Modal
    string editItemModalId = $"edit-{itemName}-modal";
    string editItemDivId = $"edit-{itemName}-div";
    string editItemAlertId = $"edit-{itemName}-alert";
    string editItemFormId = $"edit-{itemName}-form";
    string editItemFormDivId = $"edit-{itemName}-form-div";

    //delete Modal
    string deleteItemModalId = $"delete-{itemName}-modal";
    string deleteItemDivId = $"delete-{itemName}-div";
    string deleteItemAlertId = $"delete-{itemName}-alert";
    string deleteItemFormId = $"delete-{itemName}-form";
    string deleteItemFormDivId = $"delete-{itemName}-form-div";

    var models = ModelService.Instance.GetAll().ToSelectListItems(model => model.Name, model => model.Id,  "", true);

}
@Html.Partial("_BootstrapCallOut", new BootstrapCallOut($@"This page is for Managing
{itemDisplayName}s
,Make sure you have added the Model And The Brand to Appear in the Dropdown list"))
<br />
<br />
<br />
<div class="panel panel-default" id="">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4 style="display: inline-block">@itemDisplayName </h4>
        <div style="float: right">
            <button type="button" class="btn btn-primary" onclick="showAddGpu()">
                + @Common.Add
            </button>
            
            <button type="button" class="btn btn-primary" onclick="showAddBulkGpu()">
                + @Common.Add Bulk
            </button>
        </div>
    </div>
    <div class="panel-body">
        <p>
            @using (Ajax.BeginForm("Search", new { }, new AjaxOptions()
            {
                HttpMethod = "POST",
                OnBegin = $"block('{panelSelector}')",
                OnComplete = $"unblock('{panelSelector }')",
                UpdateTargetId = listId
            }, new { id = "form-search", @class = "auto-search" }))
            {
                @Html.Partial("_SearchForm", new GpuSearchCrietriaViewModel())
                <br />
                <button type="submit" class="btn green btn-block">
                    @Common.Search
                </button>
            }
        </p>
    </div>

    <!-- Table -->
    <div id="@listId">
        @Html.Partial("_List")
    </div>
</div>

<div class="modal fade"
     id="@addItemBulkModalId"
     role="basic"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="@addItemBulkDivId">

            @using (Ajax.BeginForm("AddBulk", controllerName, new { }, new AjaxOptions()
            {
                OnBegin = $"block('#{addItemBulkDivId}')",
                OnComplete = $"onAjaxComplete(xhr, status, '#{addItemBulkDivId}', '#{addItemBulkAlert}', '#{listId}')",
                OnFailure = $"onAjaxFailed(xhr, status, error, '#{addItemBulkAlert}')",
                OnSuccess = $"onAjaxSuccess(xhr, status, '#{addItemBulkModalId}')"
            }, new { id = addItemFormId, @role = "form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add @itemDisplayName Bulk</h4>
                </div>

                <div class="modal-body">
                    <div id="@addItemBulkAlert"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Asins CSV
                                </label>
                                @Html.TextBox("asinsCsv","", new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Model
                                </label>
                                @Html.DropDownList("modelId", models,new {@class="form-control"})
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn green">
                        @Common.Add
                    </button>
                    <button type="button" data-dismiss="modal" class="btn red">
                        @Common.Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade"
     id="@addItemModalId"
     role="basic"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="@addItemDivId">

            @using (Ajax.BeginForm("Add", controllerName, new { }, new AjaxOptions()
            {
                OnBegin = $"block('#{addItemDivId}')",
                OnComplete = $"onAjaxComplete(xhr, status, '#{addItemDivId}', '#{addItemAlert}', '#{listId}')",
                OnFailure = $"onAjaxFailed(xhr, status, error, '#{addItemAlert}')",
                OnSuccess = $"onAjaxSuccess(xhr, status, '#{addItemModalId}')"
            }, new { id = addItemFormId, @role = "form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add @itemDisplayName</h4>
                </div>

                <div class="modal-body">
                    <div id="@addItemAlert"></div>
                    @Html.Partial("_Form", new Gpu())
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn green">
                        @Common.Add
                    </button>
                    <button type="button" data-dismiss="modal" class="btn red">
                        @Common.Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</div>



<div class="modal fade"
     id="@editItemModalId"
     role="basic"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="@editItemDivId">

            @using (Ajax.BeginForm("Update", "Gpu", new { }, new AjaxOptions()
            {
                OnBegin = $"block('#{editItemDivId}')",
                OnComplete = $"onAjaxComplete(xhr, status, '#{editItemDivId}', '#{editItemAlertId}', '#{listId}')",
                OnFailure = $"onAjaxFailed(xhr, status, error, '#{editItemAlertId}')",
                OnSuccess = $"onAjaxSuccess(xhr, status, '#{editItemModalId}')"
            }, new { id = editItemFormId, @role = "form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">@Common.Edit</h4>
                </div>

                <div class="modal-body">
                    <div id="@editItemAlertId"></div>

                    <div id="@editItemFormDivId">
                        @Html.Partial("_Form", new Gpu())
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn green">
                        @Common.Save
                    </button>
                    <button type="button" data-dismiss="modal" class="btn red">
                        @Common.Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade"
     id="@deleteItemModalId"
     role="basic"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="@deleteItemDivId">

            @using (Ajax.BeginForm("Delete", "Gpu", new { }, new AjaxOptions()
            {
                OnBegin = $"block('#{deleteItemDivId}')",
                OnComplete = $"onAjaxComplete(xhr, status, '#{deleteItemDivId}', '#{deleteItemAlertId}', '#{listId}')",
                OnFailure = $"onAjaxFailed(xhr, status, error, '#{deleteItemAlertId}')",
                OnSuccess = $"onAjaxSuccess(xhr, status, '#{deleteItemModalId}')"
            }, new { id = deleteItemFormId, @role = "form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">@Common.AreYouSure</h4>
                </div>

                <div class="modal-body">
                    <div id="@deleteItemAlertId"></div>

                    <div id="@deleteItemFormDivId">
                        @Html.Partial("_DeleteForm", new Gpu())
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn green">
                        @Common.Delete
                    </button>
                    <button type="button" data-dismiss="modal" class="btn red">
                        @Common.Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">

        @{
            string addFunctionName = $"showAdd{itemNameUpperFirstLetter}";
            string editFunctionName = $"showEdit{itemNameUpperFirstLetter}";
            string deleteFunctionName = $"showDelete{itemNameUpperFirstLetter}";
        }
        function showAddBulkGpu() {
            $("#@addItemBulkModalId").modal('show');
            
        }
        function @(addFunctionName)() {

            $("#@addItemModalId").modal('show');
        }

        function @(editFunctionName)() {

            $("#@editItemModalId").modal('show');
        }

        function @(deleteFunctionName)() {
            $("#@deleteItemAlertId").html('');
            $("#@deleteItemModalId").modal('show');
        }


        function getGpuInfo() {
            var selector = '#@Html.IdFor(m => m.Result.FirstOrDefault().Asin)';
            var asin = $(selector).val();
            creaDevAjax('body', '#alert', '', { asin }, 'POST','@Url.Action("FetchGpuInfoByAsin","Gpu")', onGpuInfoLoaded);

        }
        var eanSelector =  '#@addItemFormId #@Html.IdFor(m=>m.Result.FirstOrDefault().Ean)';
        var nameSelector =  '#@addItemFormId #@Html.IdFor(m=>m.Result.FirstOrDefault().Name)';
        var imageUrlSelector = '#@addItemFormId #@Html.IdFor(m=>m.Result.FirstOrDefault().ImageUrl)';
        var imageUrlDisplaySelector = '#@addItemFormId #gpu-image';

        function onGpuInfoLoaded(data) {
            var gpuData = JSON.parse(data);
            console.log(gpuData);

            $(eanSelector).val(gpuData.ean);
            $(nameSelector).val(gpuData.name);
            $(imageUrlSelector).val(gpuData.imageUrl);
            $(imageUrlDisplaySelector).attr('src', gpuData.imageUrl);

            //FetchGpuInfoByAsin

        }

        $(function() {
            $(imageUrlSelector).change(function() {
                $(imageUrlDisplaySelector).attr('src', $(this).val());
            });
        });
    </script>
}
