
    <ul class="kt-menu__nav ">
        <li class="kt-menu__item " aria-haspopup="true">
            <a asp-action="index" asp-controller="home" asp-area="" class="kt-menu__link ">
                <span class="kt-menu__link-icon">
                    <i class="fa fa-home"></i>
                </span>
                <span class="kt-menu__link-text">
                    @CommonText.Home
                </span>
            </a>
        </li>

        <li class="kt-menu__item " aria-haspopup="true">
            <a asp-action="Index" asp-controller="Address" class="kt-menu__link ">
                <span class="kt-menu__link-icon">
                    <i class="fa fa-file"></i>
                </span>
                <span class="kt-menu__link-text">
                    @CommonText.Addresses
                </span>
            </a>
        </li>

        <li class="kt-menu__item " aria-haspopup="true">
            <a asp-action="Index" asp-controller="Country" class="kt-menu__link ">
                <span class="kt-menu__link-icon">
                    <i class="fa fa-globe"></i>
                </span>
                <span class="kt-menu__link-text">
                    @CommonText.Countries
                </span>
            </a>
        </li>

        <li class="kt-menu__item " aria-haspopup="true">
            <a asp-action="Index" asp-controller="cropper" class="kt-menu__link ">
                <span class="kt-menu__link-icon">
                    <i class="fa fa-globe"></i>
                </span>
                <span class="kt-menu__link-text">
                    Cropper
                </span>
            </a>
        </li>

        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                    <i class="fa fa-cogs"></i>
                </span><span class="kt-menu__link-text">
                    @CommonText.Controls
                </span><i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">

                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-action="dates" asp-controller="controls" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">
                                @CommonText.Dates
                            </span>
                        </a>
                    </li>

                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-action="InlineForm" asp-controller="controls" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">
                                @CommonText.EditInlineForm
                            </span>
                        </a>
                    </li>

                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-action="Inputs" asp-controller="controls" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">
                                @CommonText.Inputs
                            </span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-action="Wizard" asp-controller="controls" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">
                                @CommonText.Wizard
                            </span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-action="Tabs" asp-controller="Controls" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">
                                @CommonText.Tabs
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="kt-menu__section ">
            <h4 class="kt-menu__section-text">
                @CommonText.Users
            </h4>
            <i class="kt-menu__section-icon flaticon-more-v2"></i>
        </li>

        <li class="kt-menu__item " aria-haspopup="true">
            <a asp-action="Index" asp-controller="User" class="kt-menu__link ">
                <span class="kt-menu__link-icon">
                    <i class="fa fa-users"></i>
                </span>
                <span class="kt-menu__link-text">
                    @CommonText.Users
                </span>
            </a>
        </li>


    </ul>