<!DOCTYPE html>

<html lang="@(Language.IsEnglish ? " en" : "ar" )"
      dir="@(Language.IsEnglish ? " ltr" : "rtl" )">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />

    <title> Metronic | @ViewBag.Title </title>

    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <link href="~/assets/css/demo1/pages/general/login/login-1.css" rel="stylesheet" />

    @if (Language.IsEnglish)
    {
        <link href="~/assets/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/demo1/skins/header/base/light.css" rel="stylesheet" />
        <link href="~/assets/css/demo1/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/demo1/skins/brand/dark.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/demo1/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    }
    else
    {
        <link href="~/assets/vendors/global/vendors.bundle.rtl.css" rel="stylesheet" />
        <link href="~/assets/css/demo1/style.bundle.rtl.css" rel="stylesheet" />
        <link href="~/assets/css/demo1/skins/header/base/light.rtl.css" rel="stylesheet" />
        <link href="~/assets/css/demo1/skins/header/menu/light.rtl.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/demo1/skins/brand/dark.rtl.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/demo1/skins/aside/dark.rtl.css" rel="stylesheet" type="text/css" />
        <link href="~/css/site.rtl.css" rel="stylesheet" />
    }

    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />

    <link href="~/css/typeahead.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-hijri-datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />

    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />

</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                <!--begin::Aside-->
                <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: url('/assets/media//bg/bg-4.jpg');">
                    <div class="kt-grid__item">
                        <a href="#" class="kt-login__logo">
                            <img src="/assets/media/logos/logo-4.png">
                        </a>
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                        <div class="kt-grid__item kt-grid__item--middle">
                            <h3 class="kt-login__title">Welcome to Metronic!</h3>
                            <h4 class="kt-login__subtitle">The ultimate Bootstrap & Angular 6 admin theme framework for next generation web apps.</h4>
                        </div>
                    </div>
                    <div class="kt-grid__item">
                        <div class="kt-login__info">
                            <div class="kt-login__copyright">
                                &copy 2018 Metronic
                            </div>
                            <div class="kt-login__menu">

                                <a href="#" class="kt-link">Privacy</a>

                                <a href="#" class="kt-link">
                                    Legal
                                </a>

                                @if (Language.IsEnglish)
                                {
                                    <a asp-all-route-data="ViewContext.RouteData.Values.ToRouteValues()"
                                       asp-route-culture="ar" class="kt-link">
                                        @CommonText.Arabic
                                    </a>
                                }
                                else
                                {
                                    <a asp-all-route-data="ViewContext.RouteData.Values.ToRouteValues()"
                                       asp-route-culture="en" class="kt-link">
                                        @CommonText.English
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!--begin::Aside-->
                <!--begin::Content-->
                <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

                    <!--begin::Head-->
                    @RenderSection("top", false)
                    <!--end::Head-->
                    <!--begin::Body-->
                    <div class="kt-login__body">

                        @RenderBody()

                    </div>

                    <!--end::Body-->
                </div>

                <!--end::Content-->
            </div>
        </div>
    </div>

    <!--begin:: Global Mandatory Vendors -->
    <script src="~/assets/vendors/global/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/demo1/scripts.bundle.js" type="text/javascript"></script>

    <!--ajax and validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <!--Date-->
    <script src="~/js/date/moment.js"></script>
    <script src="~/js/date/moment-with-locales.js"></script>
    <script src="~/lib/bootstrap-hijri-datepicker/js/bootstrap-hijri-datepicker.js"></script>
    <script src="~/js/date/date-config.js"></script>
    <!-- End Date -->

    <!--Typeahed -->
    <script src="~/lib/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="~/lib/typeahead.js/dist/bloodhound.min.js"></script>
    <script src="~/lib/handlebars/handlebars.min.js"></script>
    <script src="~/js/typeahead-config.js"></script>

    <script src="~/js/alert.js"></script>
    <script src="~/js/site.js"></script>

    <partial name="Typeahead/_Templates" />

    @RenderSection("scripts", false)



    <script type="text/javascript">

        var KTAppOptions = {
				"colors": {
					"state": {
                        "brand": "#5d78ff",
						"dark": "#282a3c",
						"light": "#ffffff",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
						"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
					}
				}
			};

        $(function () {
             @if (TempData.ContainsKey(WebConstants.ALERT))
             {
                  <text>
                    var alertObject = @Html.Raw(TempData[WebConstants.ALERT]);
                    showAlert(alertObject);
                  </text>
             }
        });

    </script>

</body>

<!-- end::Body -->
</html>