
@{
    ViewBag.Title = "ChangePassword";
}
@model ChangePasswordViewModel

@section title{
    @Common.ChangePassword
}

<div class="portlet light col-md-8 col-md-offset-2">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>
            <span class="caption-subject font-green bold uppercase">
                @Common.ChangePassword
            </span>
        </div>
    </div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <div class="portlet-body form" id="form-portlet">
            @Html.BootstrapPasswordFor(a => a.CurrentPassword)
            @Html.BootstrapPasswordFor(a => a.NewPassword)
            @Html.BootstrapPasswordFor(a => a.ConfirmNewPassword)

            <div class="form-actions">
                <button type="submit" class="btn green">
                    @Common.ChangePassword
                </button>

                <a href="@Url.Action("Index","Home")" class="btn red">
                    @Common.Cancel
                </a>

            </div>


        </div>
    }
</div>
