

@{
    ViewBag.Name = "Index";
    string itemName = "brand";
    string itemNameUpperFirstLetter = itemName.ToProperCase();
    string controllerName = itemNameUpperFirstLetter;
    string panelSelector = $"#list-panel";
    string listId = $"list";
    string listSelector = $"#{listId}";

    //Add Modal
    string addItemModalId = $"add-modal";
    string addItemDivId = $"add-div";
    string addItemAlert = $"add-alert";
    string addItemFormId = $"add-form";

    //Edit Modal
    string editItemModalId = $"edit-modal";
    string editItemDivId = $"edit-div";
    string editItemAlertId = $"edit-alert";
    string editItemFormId = $"edit-form";
    string editItemFormDivId = $"edit-form-div";

    //delete Modal
    string deleteItemModalId = $"delete-modal";
    string deleteItemDivId = $"delete-div";
    string deleteItemAlertId = $"delete-alert";
    string deleteItemFormId = $"delete-form";
    string deleteItemFormDivId = $"delete-form-div";


}



<div class="kt-portlet kt-portlet--responsive-mobile">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-search kt-font-brand"></i>
            </span>
            <h3 class="kt-portlet__head-title kt-font-brand">
                @CommonText.Search
            </h3>
        </div>
    </div>
    <form id="search-form"
          asp-ajax="true"
          asp-ajax-replace="#@listId"
          asp-ajax-block="#main-div">

        <div class="kt-portlet__body">
            <partial name="_SearchForm" model="new HashrateSearchCrietriaViewModel()" />
            </div>
        <div class="kt-portlet__foot">
            <button type="submit" class="btn btn-brand m-btn m-btn--custom btn-sm">
                <span>
                    <i class="fa fa-search"></i>
                    <span>
                        @CommonText.Search
                    </span>
                </span>

            </button>
            <button type="submit" onclick="clearFromData('#search-form')" class="btn btn-outline-brand btn-sm">
                <span>
                    <i class="fa fa-trash"></i>
                    <span>
                        @CommonText.ClearSearch
                    </span>
                </span>
            </button>

        </div>
    </form>
</div>


<div class="kt-portlet kt-portlet--responsive-mobile">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-search kt-font-brand"></i>
            </span>
            <h3 class="kt-portlet__head-title kt-font-brand">
                @CommonText.Search
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" data-toggle="modal" data-target="#add-modal"
                        class="m-portlet__nav-link btn btn-brand btn-sm m-btn m-btn--icon">
                    <span>
                        <i class="fa fa-plus"></i>
                        <span>
                            @CommonText.Add
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    

        <div class="kt-portlet__body">
            <div id="@listId">
                <partial name="_List" />
            </div>
        </div>
</div>

<modal id="add-modal" asp-is-large="true" asp-content-id="add-content" asp-reset-validation="true">
    <modal-header></modal-header>
    <form id="add-form"
          method="post"
          asp-ajax="true"
          asp-action="Add"
          asp-ajax-modal="#add-modal"
          asp-ajax-success-method="updateListFromDiv('#list');"
          asp-ajax-error="#add-alert"
          asp-ajax-block="#add-content">
        <modal-body>
            <div id="add-alert" data-alert></div>
            <partial name="_Form" model="new Hashrate()" />
        </modal-body>
        <modal-footer asp-show-close-button="true">

            <button type="submit" class="btn btn-brand btn-sm m-btn m-btn--icon">
                <i class="fa fa-plus"></i>
                @CommonText.Add
            </button>
        </modal-footer>
    </form>
</modal>


<modal id="edit-modal" asp-is-large="true" asp-content-id="edit-content" asp-reset-validation="true">
    <modal-header></modal-header>
    <form id="edit-form"
          method="post"
          asp-ajax="true"
          asp-action="Update"
          asp-ajax-modal="#edit-modal"
          asp-ajax-success-method="updateListFromDiv('#list');"
          asp-ajax-error="#edit-alert"
          asp-ajax-block="#edit-content">
        <modal-body>
            <div id="edit-alert" data-alert></div>
            <div id="edit-div">
                @*<partial name="_Form" model="new Algorithm()" />*@
            </div>
        </modal-body>
        <modal-footer asp-show-close-button="true">

            <button type="submit" class="btn btn-brand btn-sm m-btn m-btn--icon">
                <i class="fa fa-plus"></i>
                @CommonText.Save
            </button>
        </modal-footer>
    </form>
</modal>






@section scripts{

    <script type="text/javascript">

        @{
            string addFunctionName = $"showAdd{itemNameUpperFirstLetter}";
            string editFunctionName = $"showEdit{itemNameUpperFirstLetter}";
            string deleteFunctionName = $"showDelete{itemNameUpperFirstLetter}";
        }
        function @(addFunctionName)() {

            $("#@addItemModalId").modal('show');
        }

        function @(editFunctionName)() {

            $("#@editItemModalId").modal('show');
        }

        function @(deleteFunctionName)() {
            $("#@deleteItemAlertId").html('');
            $("#@deleteItemModalId").modal('show');
        }
    </script>
}
